gradio==4.43.0
fastapi==0.112.4
uvicorn==0.30.6
python-dotenv==1.0.1
pydantic==2.9.0
pandas==2.2.2
tiktoken==0.7.0
langchain-community==0.2.16
aiohttp==3.10.5
PyYAML==6.0.2
requests==2.32.3
duckduckgo-search==6.2.11
ollama==0.3.2
plotly==5.24.0